<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sms.mp.mapper.StudentMapper">
    <!-- -->
    <select id="getAll" resultType="java.util.Map">
        SELECT * from student
    </select>

    <select id="getCount" resultType="java.util.Map">
        select count(1) from student
    </select>


</mapper>